<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item col-md-4 col-sm-6 active">
                        <img class="d-block w-100" data-src="holder.js/800x400?theme=sky" alt="First slide">
                    </div>
                    <div class="carousel-item col-md-4 col-sm-6 active" style="position: absolute; top: 0; transform: translate3d(100%, 0, 0);">
                        <img class="d-block w-100" data-src="holder.js/800x400?theme=vine" alt="Second slide">
                    </div>
                    <div class="carousel-item col-md-4 col-sm-6 active" style="position: absolute; top: 0; transform: translate3d(200%, 0, 0);">
                        <img class="d-block w-100" data-src="holder.js/800x400?theme=lava" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <app-responsive-carousel>
                <ng-template appResponsiveSlide>
                    <img class="d-block w-100" data-src="holder.js/800x400?theme=sky" alt="First slide">
                </ng-template>
                <ng-template appResponsiveSlide>
                    <img class="d-block w-100" data-src="holder.js/800x400?theme=vine" alt="Second slide">
                </ng-template>
                <ng-template appResponsiveSlide>
                    <img class="d-block w-100" data-src="holder.js/800x400?theme=lava" alt="Third slide">
                </ng-template>
                <ng-template appResponsiveSlide>
                    <img class="d-block w-100" data-src="holder.js/800x400?theme=social" alt="Third slide">
                </ng-template>
            </app-responsive-carousel>
        </div>
    </div>
</div>
